@page "/Historik"

<body> 
	
	<PageTitle>History</PageTitle>

	<h1>History</h1>

	<h5>Transaction History will be displayed here.</h5>
</body>

@code {
	//Transaktionspost skapas på båda konton
	//Transaktionshistorik ska visa datum, typ (insättning/uttag/överföring), belopp och saldo efter transaktion
    //Filtrering av historik per datumintervall och typ
    //Sortering av historik efter datum och belopp
}
