@page "/MyAccounts"
@inject IAccountService AccountService

<h1>My Accounts</h1>

<ul>
    @if (accounts.Any())
    {
        <ul>
            @foreach (var account in accounts)
            {
                <li>@account.Name – @account.AccountType – @account.Currency – @account.Balance</li>
            }
        </ul>
    }
    else
    {
        <p>Inga konton skapade än.</p>
    }
    
</ul>

@code {
    private List<IBankAccount> accounts = new();

    protected override void OnInitialized()
    {
        accounts = AccountService.GetAccounts();
    }
}
