@page "/MyAccounts"
@using BlazorApp1.Interface
@inject IAccountService AccountService

<h1>My Accounts</h1>

<ul>
    @if (_accounts.Any())
    {
        <ul>
            @foreach (var account in _accounts)
            {
                <li>@account.Name – @account.AccountType – @account.Currency – @account.Balance</li>
            }
        </ul>
    }
    else
    {
        <h3>You dont have any accounts yet, go to "Add Account" And add youre first account.</h3>
    }
    
</ul>

@code {
    private List<BankAccount> _accounts = new();
    protected override async Task OnInitializedAsync()
    {
        _accounts = await AccountService.GetAccounts();
    }

    private async Task GetAccountAsync()
    {
        try
        {
            _accounts = await AccountService.GetAccounts();
        }
        catch (Exception exception)
        {
            Console.WriteLine("You are missing input");
            throw;
        }
    }
}
