@page "/NyTransaktion"
@using BlazorApp1.Domain

<style>
.my-custom-btn2 {
    background-color: seagreen; 
    color: aliceblue;
    border: none;
    transition: background-color 0.3s ease, transform 0.1s ease;
}
.my-custom-btn2:hover {
    background-color: darkolivegreen; 
    transform: scale(1.03);
}
.my-custom-btn2:active {
    background-color: grey;
    transform: scale(0.98);
}
</style>

<h1>Transaktion</h1>

<h5>New Transaktion:</h5>

<EditForm Model="@transaction">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<div class="mb-2">
		<label>Transaction</label><br />
		<InputText @bind-Value="transaction.Transfer" />
		<ValidationMessage For="@(() => transaction.Transfer)" />
	</div>
</EditForm>

<button class="btn my-custom-btn2">Add New Transaction</button>

@code {
	//lägg till sen en funktion för att spara transaktion, koppla till Transaction?
	private Transaction transaction = new Transaction();

	public class Transaction
	{
		public string Transfer { get; set; }
	}
	//Överföringar: välj “från”-konto, “till”-konto samt belopp
	//Hindra övertrassering (uttag > saldo) med tydliga felmeddelanden
	private async Task AddTransaction()
	{
	}
}
