@page "/NyTransaktion"

<h3>Transaktion</h3>

<h5>New Transaktion:</h5>

<EditForm Model="@transaction">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<div class="mb-2">
		<label>Transaction</label><br />
		<InputText @bind-Value="transaction.Transfer" />
		<ValidationMessage For="@(() => transaction.Transfer)" />
	</div>
</EditForm>

<button class="btn btn-primary">Add New Transaction</button>

@code {
	private Transaction transaction = new Transaction();

	public class Transaction
	{
		public string Transfer { get; set; }
	}
}
